<nav>
            <img alt = "photo" src="https://github.com/danielzzzterling.png">


            <a class="nav-link" href="#camisetas">CAMISETAS</a>
            <a class="nav-link" href="#gorras">GORRAS</a>
            <a class="nav-link" href="/Bolsos/bolsos.html" target="_blank">BOLSOS UNISEX</a>
            <a class="nav-link" href="/Sobre_Nosotros/nosotros.html" target="_blank">NOSOTROS</a>
            <a class="nav-link" href="accesorios">ACCESORIOS</a>


           
            
</nav>

<div class="container-nav">

    <h1 class="text-center mt-8">Centro Bootstrap</h1>
</div>
<br>
<app-games></app-games>
